.manage-schedule-container{
          .m-s-title {
           text-transform: uppercase;
           margin-top: 15px;
           margin-bottom: 15px;
           font-size: 24px;
           font-weight: 600;
           text-align: center;

          }
}