.manage-schedule-container{
          .m-s-title {
           text-transform: uppercase;
           margin-top: 15px;
           margin-bottom: 15px;
           font-size: 24px;
           font-weight: 600;
           text-align: center;

          }
          .pick-time-container {
                    display: flex;
                    gap: 20px;
                    flex-wrap: wrap;
                    //border: 1px solid red;
                    padding-top: 20px;                   
                    padding-bottom: 20px;
                    .btn-schedule{
                        border: 1px solid gray;
                        cursor: pointer;
                        padding: 0px 10px;
                        //padding-bottom: 5px;
                        &:hover{
                            background-color: #0d6efd;
                            color: white;
                        }
      
                        
                    }
                    
          }
          .btn-save-schedule{
                        margin-top: 20px;
                       text-align: center;
                       padding: 0px 10px;
                    }
        }