.manage-doctor-container {
          padding:10px;
          .manage-doctor-title{
                    text-align: center;
                    font-weight: 600;
                    font-size: 20px;
                    text-transform: uppercase;
                    margin: 15px 0;
          
          }
          .manage-doctor-editor{

          }
          .more-infor{
                    display: flex;
                    gap: 10px;
                    margin-bottom: 10px;
           .content-left{
                    width: 40%;

           } 
           .content-rigth{
                    width: 60%;
                    
           }         
          }
          .save-content-doctor{
                    margin-top: 10px;
                    margin-bottom: 30px;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    cursor: pointer;
                    background-color:red;
                    padding: 5px 10px;
                    color: white;
                    &:hover{
                              opacity: 0.7;
                    }
          }
}