 .preview-image-container{
          .label-upload{
                   // border: 1px solid red;
                    background-color: #aaa;
                    padding: 5px 10px;
                    text-align: center;
                    border-radius: 5px;
                    cursor: pointer;
                    &:hover {
                              opacity: 0.7;
                    }

          }
          .preview-image{
                    //border: 1px solid red;
                    height: 100px;
                    width: 100px;
                    margin-top: 5px;
                    background-size: cover;
                    cursor: pointer;


          }
 }
