.doctor-detail-container {
         // height: 500px;
          border: 1px solid red;
          margin:0 50px ;
          .infor-doctor {
                    display: flex;
                    .content-left {
                     
                     width: 20%;
                     //background: center center no-repeat;
                    width: 120px;
                    height: 120px;
                    background-size: 120px 120px;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 50%;
                    margin: 10px 20px;
                    

                    // height: 50px;
                    }
                    .content-right {
                    border: 1px solid greenyellow;
                    width: fit-content;
                    //height: 50px;
                    display: flex;
                    flex-direction: column;
                    padding-left: 10px;
                    .up {
                     font-size: 24px;
                     font-weight: 600;         

                    }
                    .down {
                    padding-top: 10px;

                    }
                    }

          }
          .schedule-doctor{
          // margin: 0 50px;
           height: 200px;
           border: 1px solid red;
           display: flex;
           .content-left{
            width: 50%;        
           }
           .content-right {
          width: 50%;
           }         
          }

}