.doctor-schedule-container {
    //border-right: solid 1px red;
     height: 100%;
    
    .all-schedule{
       select {
            padding: 5px 10px;
            outline: none;
            border-bottom: solid 1px #ccc;
            cursor: pointer;
            font-weight: 600;
            color: #203bd0;
        }

    }
    .all-available-time {
       // border: solid 1px red;
        .text-calendar{
            margin: 10px;
            span {
                text-transform: uppercase;
                color: #333;
                margin-left: 5px;
            }

        }
        .time-content{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            button {
                padding: 10px 10px;
                background-color: #fff04b;
                outline: none;
                border: none;
                cursor: pointer;
                min-width: 120px;
                border-radius: 5px;
                font-weight: 600;
                &:hover {
                    background-color: #3db1ff;
                    color:white;
            }
        }
        }
    }
}