.login-background {
background: linear-gradient(135deg,rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%);
height: 100vh;
    .login-container {
            width: 400px;
            border-radius: 10px;
            background-color: white;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            height: 450px;
        .login-content {
            padding: 15px;
            .login-text {
            text-align: center;
            padding-top: 15px;
            font-weight: 600;
            font-size: 25px;
        }  
        .login-input {
            margin: 7px 0;
            .custom-input-password{
                position: relative;
                i{
                    position: absolute;
                    right: 5px;
                    top: 10px;
                    cursor: pointer;
                }
            }
        }
        .btn-login {
            color: white;
            font-size: 18px;
            margin: 15px 0;
            width: 100%;
            border: none;
            border-radius: 10px;
            height: 35px;
            outline: none;
            background: linear-gradient(135deg,rgba(34, 193, 195, 1) 0%,rgba(253, 187, 45, 1) 100%);

        }
        .forgot-password {
            font-size: 12px;
        } 
        .social-login {
            display: flex;
            justify-content: center;
            margin-top: 15px;
            gap: 10px;
            .google{
                font-size: 35px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: rgb(188, 24, 24);
                display:flex;
                align-items: center;
                justify-content: center;
                color: white;
                cursor: pointer;

            }
            .facebook{
                font-size: 30px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: rgb(16, 48, 165);
                display:flex;
                align-items: center;
                justify-content: center;
                color: white;
                cursor: pointer;

            }
        }                 
    }
}
}