.section-specialty{
    height: 300px;
    background: #f5f5f5;
    //border: 1px solid red;
    //padding:0 40px;
    margin: 0 40px;
    //align-items: center !important;
    .specialty-container{
        height: 100%;
        padding: 20px 0;
        .specialty-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px;
            font-weight: bold;
            font-size: 18px;
            color: #333;
            .btn-more{
                margin:30px 0px;
                padding: 5px 10px;
                border: 1px solid red;
                border-radius: 5px;
                background: #fff;
                color: red;
                cursor: pointer;
                &:hover{
                    background: red;
                    color: #fff;
                }
            }
            .title-header{
                font-size: 24px;
                font-weight: 600px;
                margin:30px 0px;
            }
        }
   
        .specialty-body{
            height: 230px;
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            cursor: pointer;
            .bg-image{
                width: 275px;
                height: 150px;
               // border-radius: 50%;
                background-image: url('../../../../src/assets/images/coxuongkhop.jpg');
                background-size: contain;     /* Vừa khít div */
                background-position: center center;
                background-repeat: no-repeat;
                margin-bottom: 20px;
                
            }
            &:hover{
                background: #e6e6e6;
            }
        }} 
    .slick-arrow{
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;   
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
    }   
    .slick-prev {
        left: 10px;
        top: 50%;
    }
    .slick-prev:before, .slick-next:before {
        font-size: 30px;
        color: red;
    }
    .slick-next {
        right: 10px;
        align-items: center !important;
    }
}