.slick-arrow{
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;   
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
    } 
    .slick-disabled {
    display: none !important;
  /* or use opacity to make it transparent */
  /* opacity: 0% !important; */
}  
    .slick-prev {
        left: 10px;
        top: 50%;
    }
    .slick-prev:before, .slick-next:before {
        font-size: 30px;
        color: red;
    }
    .slick-next {
        right: 10px;
        //align-items: center !important;
    }
    .section-share {
    &.section-specialty{
          background: #f5f5f5;
    }
    &.section-medical-facilities{
          background: #f5f5f5;
    }
    &.uotstanding-doctor{
          background: #f5f5f5;
    }
     &.section-about {
                    border: 1px solid red;
                    height: 500px !important;
                    //margin: 0 100px;
                }
                
           .section-body{
                    border: 1px solid red;
          .section-customize{
  
            height: 230px;
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-content: center;
            cursor: pointer;
             border: 1px solid red;
.bg-image{
                width: 382px;
                height: 197px;
                
               // border-radius: 50%;
                background-size: contain;     /* Vừa khít div */
                background-position: center;
                background-repeat: no-repeat;
                background-color: #e6e6e6;
                border: 1px solid red;
                &.section-specialty {
                background-image: url("../../assets/images/coxuongkhop.jpg");
                }
                &.section-medical-facilities{
                background-image: url("../../assets/images/cosoyte.jpg");

                }
                &.outstanding-doctor{
               // background-image: url("../../assets/images/bacsinoibat.jpg");
                width: 120px;
                height: 120px;
                border-radius: 50%;
               // background-color: white;

                }
                &.hand-book{
                background-image: url("../../assets/images/hanbook.png");
                
                background-color: white;

                }
               
            }
            &:hover{
                background: #e6e6e6;
            }
        }
    }
     }
    .section-share{
    height: 330px;
     
    //padding:0 40px;
    margin: 0 100px;
    //align-items: center !important;
    .section-container{
        margin: 0px 40px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .section-header{
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            // padding: 0 15px;
            // font-weight: bold;
            // font-size: 18px;
            // color: #333;
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;
            .title-section{
                font-size: 22px;
                font-weight: 600;
                
            }
            .btn-section{
          //       margin:30px 0px;
          //       padding: 5px 10px;
          //       border: 1px solid red;
          //       border-radius: 5px;
          //       background: #fff;
          //       color: red;
          float: right;
          display: block;
          padding: 10px 15px;
          color: black;
          cursor: pointer;
                &:hover{
                    background: red;
                    color: #fff;
                }
            }
           
        }
   
 
} 
    
}
.home-footer {
    padding-top: 10px;
   
    a{
        text-decoration: none;
    }
}
.section-about{
    padding: 0 50px;
   
    .section-about-header {
        padding: 20px 20px;
        font-size: 24px;
        font-weight: 600;
    }
    .section-about-content {
        display: flex;
        gap: 10px;
         width: 100%;
        .content-left{
            width: 60%;

        }
        .content-rigth{
            width: 40%;
            font-style: italic;
            text-align: justify;
            padding-top: 15px;

        }

    }
}