.home-header-container {
height: 70px;
width: 100%;
padding: 0 20px;
//border: 1px solid red;

.home-header-content{
         width: 100%;
         height: 100%;
         display: flex;
.left-content{
width: 25%;
border: 1px solid red;
display: flex;
align-items: center;
.header-logo {
          background: url(../../assets/images/logo.png) center center no-repeat;
          width: 100%;
          height: 80%;
          cursor: pointer;
          

}
i {
          font-size: 30px;
          color: gray;
          padding-left: 15px;
          cursor: pointer;
}
          }
.center-content{
         width: 50%;
border: 1px solid red;
display: flex;   
align-items: center;
justify-content: space-between;
.sub-title {
          font-size: 12px;
}                  
                    }
.rigth-content{
              width: 25%;
border: 1px solid red;                
                    }

          }

}