.home-header-container {
position: relative;
z-index: 10;
height: 70px;
width: 100%;
padding: 0 40px;
.home-header-content{
display: flex;
 
width: 100%;
height: 100%;

.left-content{
width: 25%;
//border: 1px solid red;
display: flex;
align-items: center;
.header-logo {
background: url(../../assets/images/logo.png) center center no-repeat;
width: 100%;
height: 80%;
background-size: 50%;
cursor: pointer;       
}
i {
font-size: 30px;
color: gray;
padding-left: 15px;
cursor: pointer;
}
}
.center-content{
width: 50%;
//border: 1px solid red;
display: flex;   
align-items: center;
justify-content: space-between;
.sub-title {
font-size: 12px;
}                  
}
.right-content{
width: 25%;
//border: 1px solid red;
display: flex;
align-items: center;
align-content: center; 
gap: 10px;
padding-left: 20px;
justify-content: flex-end;
.support{
padding-right: 50px;
display: flex;
align-items: center;
i{
    font-size:15px;
    margin-right: 15px;
    cursor: pointer;
}   

}
.language-vi{
    margin: 0 10px;
    opacity: 0.2;
cursor: pointer;
&.active{
    opacity: 1;
    span {
    color:red;
    }      
}
&:hover{
        opacity: 1;
    }
}
.language-en{
    margin: 0 10px;
    opacity: 0.2;
    cursor: pointer;
    &.active{
        opacity: 1;
        span {
            color: #0e32ff;
        }
        }
        &:hover {
        opacity: 1;
        }
}
 }
 }
}
.home-header-banner{
    
    
   background: url(../../assets/images/picheader.jpg);
  // background-image:url(../../assets/images/picheader.jpg), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 500px;
   
    background-repeat: no-repeat;
    //background-position: center;
    background-size: cover;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    opacity: 0.7;  
    .content-up{
        position: relative;
        z-index: 5;
        border: 1px solid red;
        height: 50%;
        .title1 {
        margin-top: 15px;
        font-size: 30px;
        color: white;
        text-align: center;
        text-shadow: 1px 1px 1px #333;
        //margin-bottom: 15px;
    }
    .title2{
        font-size: 30px;
        color: white;
        text-align: center;
        margin-bottom: 15px;
        //text-shadow: 1px 1px 1px #333;

    }
    .search{
        display: flex;
        justify-content: center;
        width: fit-content;
        align-items: center;
        //border: 1px solid red;
        padding: 10px;
        background-color: #ffc00e;
        border-radius: 9999px;
        margin: 0px auto;
        i{
            margin: 0 5px;
        }
        input{
            width: 360px;
            background: transparent;
            outline: none;
            border: none;
            height: 30px;

        }
    }
     

    }
    .content-down{
   border: 1px solid white;
   position: relative;
    z-index: 2;
   height: 65%;
    display: flex;
    justify-content: center;
    align-items: flex-end ;
    padding-bottom: 20px;
    
    .option{
        display: flex;
        gap: 50px;
        flex-direction: row;
       
        
        .child-option{
            //border: 1px solid red;
            width: 100px;
            padding-bottom: 20px;
           
            
            .icon-child{
                background: white;
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                padding: 10px;
                border-radius: 50%;
                margin: 0 auto;
                i{
                   margin: 0 auto;
                   font-size: 16px; 
                   color: rgb(3, 158, 122);
                }
            }
            .text-child{
                color: white;
                font-size: 17px;
                font-weight: 500px;
                text-align: center;
                cursor: pointer;
                &:hover{
                    color: rgb(3, 158, 122);
                }
                
            }
        }

    }

}
}